<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboardLayout.html}">

<head>
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>
	<section class="row" layout:fragment="content">
		<div class="col mt-4">
			<div class="card">
				<div class="card-header">
					<h2>List Of Free Room</h2>

					<form th:action="@{/site/bookings/searchFreeRoom}" th:object="${bookedRoom}">
						<div class="form-inline">
							<label for="checkInDate" class="title-input">Check in: </label>
							<div class="form-group" style="width: 200px; height: auto;">
								<input type="date" class="form-control" required id="checkInDate" name="checkInDate"
									onchange="hanlderDate1()" />
							</div>

							<label for="checkOutDate" class="title-input">Check out: </label>
							<div class="form-group" style="width: 200px; height: auto;">
								<input type="date" class="form-control" required id="checkOutDate" name="checkOutDate"
									onchange="hanlderDate2()">
							</div>

							<button class="btn btn-outline-primary ml-2">Search</button>
					</form>
				</div>
			</div>
			<div class="card-body">
				<table class="table table-striped table-inverse">
					<thead class="thead-inverse">
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Price</th>
							<th>Hotel</th>
							<th>Description</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<form th:action="@{/site/bookings/save}" method="post"></form>
						<tr th:each="room, iStat : ${freeRooms}">
							
							<td th:text="${room.name}"></td>
							<td th:text="${room.type}"></td>
							<td th:text="${room.price}"></td>
							<td th:text="${room.hotel.name}"></td>
							<td th:text="${room.description}"></td>
							<td class="form-inline">
								<a th:href="@{'/site/bookings/view/' + ${room.roomId}}"
									class="btn btn-outline-primary ml-2">View Room</a>								
								<input type="hidden" id="checkIn" name="checkIn">
								<input type="hidden" id="checkOut" name="checkOut">
								<input type="hidden" value="${room.roomId}" id="roomId" name="roomId">
								<button class="btn btn-outline-primary">Booking</button>
							</td>	
						</tr>
					</form>
					</tbody>
				</table>
			</div>
		</div>
		<script type="text/javascript">

			function hanlderDate1(){
				var checkInDate = document.getElementById("checkInDate").value;
				document.getElementById("checkIn").defaultValue = checkInDate;
				var t = document.getElementById("checkIn").value;
				console.log("check in : " + t);
			}

			function hanlderDate2(){
				var checkInDate = document.getElementById("checkOutDate").value;
				document.getElementById("checkOut").defaultValue = checkInDate;
				var t = document.getElementById("checkOut").value;
				console.log("checkout : " + t);
			}
			
		</script>
		</div>
	</section>

</body>

</html>